<!-- Validation failure messages -->
<% if @injury.errors.any? %>
  <% @injury.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Injury #<%= @injury.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_injury/<%= @injury.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @injury.user_id %>">
      </div>

      <!-- Label and input for diagnosis_id -->
      <div class="form-group">
        <label for="diagnosis_id" class="control-label">
          Diagnosis
        </label>

        <input type="text" id="diagnosis_id" name="diagnosis_id" placeholder="Diagnosis" class="form-control" value="<%= @injury.diagnosis_id %>">
      </div>

      <!-- Label and input for injury_date -->
      <div class="form-group">
        <label for="injury_date" class="control-label">
          Injury date
        </label>

        <input type="text" id="injury_date" name="injury_date" placeholder="Injury date" class="form-control" value="<%= @injury.injury_date %>">
      </div>

      <!-- Label and input for begin_rehab_on -->
      <div class="form-group">
        <label for="begin_rehab_on" class="control-label">
          Begin rehab on
        </label>

        <input type="text" id="begin_rehab_on" name="begin_rehab_on" placeholder="Begin rehab on" class="form-control" value="<%= @injury.begin_rehab_on %>">
      </div>

      <button class="btn btn-warning">
        Update Injury
      </button>
      or
      <a href="/injuries/<%= @injury.id %>">Cancel</a>
    </form>
  </div>
</div>
